$primary-color: rgb(237, 231, 228);
$light-color: rgb(215, 209, 206);
$grey: rgb(167, 165, 163);
$dark-color: rgb(38, 36, 36);

$logo-font-family: "Tulpen One", cursive;
$header-font-family: "Wire One", sans-serif;
$primary-font-family: "Noto Sans", sans-serif;
