@import "../../styles/main.scss";

.header {
  position: relative;
}

.flex_container {
  @media screen and (min-width: 768px) {
    padding-top: calc(4rem * 1.15);
    position: relative;
    margin: auto;
    display: flex;
    justify-content: space-between;
    max-width: $container-size-s;
  }
}

.text {
  position: absolute;
  bottom: 10%;
  left: 2rem;
  align-self: center;
  z-index: 1;
  @media screen and (min-width: 768px) {
    position: static;
    bottom: 0;
    left: 0;
    z-index: 0;
    padding-left: 2rem;
  }
}

.buttons {
  margin-top: 0.75rem;
  display: flex;
  justify-content: flex-start;
  gap: 0.75rem;
}

.image_wrapper {
  &::after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(transparent, white);
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
  @media screen and (min-width: 768px) {
    width: 55vw;
    align-self: flex-end;
  }
  @media screen and (min-width: 1024px) {
    padding-bottom: 2rem;
    max-width: 700px;
  }
}

.image {
  width: 100%;
  bottom: 0;
  display: block;
}
