@import "../../styles/main.scss";
@import "../../styles/main.scss";

.sidebar {
  position: fixed;
  top: 75%;
  left: 0;
  display: flex;
  flex-direction: column;
}
.link {
  background-color: $dark;
  color: $grey;
  padding: 0.75rem 0.5rem;
  transition: color 0.5s ease;
  display: block;
  margin-bottom: 1px;

  &:hover {
    color: white;
  }

  .icon {
    font-size: 1.25rem;
  }
}
